.navbar {
    width: 100%;
}

.container-fluid {
    margin-top: 15px;
    margin-left: 10px;
    background-color: lightgray;
    padding-bottom: 15px;
}

.searchBar {
    margin: 15px 0px 15px 0px;
}

.btn-block {
    margin: 5px 0px 5px 0px;
}